<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" ></link>
    <title>Comments</title>
</head>
    <body>

        <h1>Comments</h1>
        <form method="post">
            Comment data:<br>
            <textarea name="comment_element"></textarea>

            <div>
                <button type="submit">
                    Post Comment
                </button>
            </div>
        </form>

        {{ range . }}
            <div>{{ . }}</div>
        {{ end }}

    </body>
</html>