<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/error.css" ></link>

    <title>Title</title>
</head>
<body>


    {{if . }}
        <div class="error" id="error">
            {{ . }}
        </div>
    {{end}}
    Login page
    <form method="post">
        Username:<br>
        <input name="name"></input>
        Password:<br>
        <input name="password"></input>
        <div>
            <button type="submit">
               Login
            </button>
        </div>
    </form>
</body>
</html>